body
{
    background: #C0C0C0;
    color: #343434;
    font-size: 11px;
    font-family: sans, 'Arial';
    padding: 10 40 0 40;
}

p 
{
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
}

blockquote 
{
    font-size: 1.2em;
    padding-left: 1em;
    border-left: 4px solid #ccc;
}

blockquote cite 
{
    font-size:.9em;
}

ul, ol 
{
    padding-top: 0;
}

table 
{
    border: 0px;
}

h1
{
  margin-left: 1em;
  margin-right: 1em;
  color: #434343;
}

h3
{
  margin-left: 1em;
  margin-right: 1em;
  color: #434343;
}

#box td
{
    padding: 4px 10px 4px 10px;
}

#code table
{
    padding: 8px 24px 16px 24px;
    font-family: monospace;
}

#code td
{
  padding: 12px 12px 12px 12px;
  border-style: dashed;
}