body
{
    background: #C0C0C0;
    color: #343434;
    font-size: 0.8em;
    font-family: Sans Serif, 'Arial';
    padding: 10 40 0 40;
}

p
{
    font-size: 1.0em;
    min-width: 1024px;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
}

a
{
    color: #30306A;
    text-decoration: none;
}

blockquote
{
    padding-left: 1em;
    border-left: 4px solid #ccc;
}

blockquote cite
{
}

ul, ol
{
    padding-top: 0;
}

table
{
    border: 0px;
}

h1
{
    font-size: 1.4em;
    margin-left: 1em;
    margin-right: 1em;
    color: #434343;
}

h2
{
    font-size: 1.25em;
    margin-left: 1em;
    margin-right: 1em;
    color: #434343;
}

h3
{
    font-size: 1.1em;
    margin-left: 1em;
    margin-right: 1em;
    color: #434343;
}

#box td
{
    padding: 4px 10px 4px 10px;
}

#code table
{
    padding: 8px 24px 16px 24px;
    font-family: monospace;
}

#code td
{
  padding: 12px 12px 12px 12px;
  border-style: dashed;
  white-space: pre;
}

#ref a
{
    font-weight: bold;
    text-decoration: none;
    color: white;
}
